{# AppBundle/Resources/views/index.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets 
    '@AppBundle/Resources/public/css/bootstrap-responsive.min.css'
    '@AppBundle/Resources/public/css/bootstrap.min.css'
    '@AppBundle/Resources/public/css/docs.css'
%}
 <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %} 
 
     <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
     </style>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
{% endblock %}
{% block body %}
<div class="navbar navbar-fixed-top">
    
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Evaluación</a>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">

      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

    </div> <!-- /container -->

Hello {{ name }}!
{% endblock %}

{% block javascripts %}
{% javascripts    '@AppBundle/Resources/public/js/bootstrap.min.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}